.container{
    display: flex;
}
 .game-board-main {
    display: flex;
}

/* SHOW <--> HIDE TOGGLES */
.playing-card {
    margin: 15px;
    cursor: pointer;
}

.playing-card.active{
    cursor: not-allowed;
}

body{
    background-color: lightgrey;
}

img {
    width: auto;
    height: auto;
}

aside {
    display:flex;
    align-self: start;
    justify-content: left;
    float:left;
    min-width: 20%;
    max-width: 30%;
}

.interface {
    padding: 1em;
}


