/* * { 
    border: 1px solid teal;
} */
 .game-board-cell {
    height: 5em;
    width: 5em;
    padding: 1em;
}

/* SHOW <--> HIDE TOGGLES */
.game-board-hide {
    display: none;
}
.game-board-show {
    display: inline;
}
.start-button-hide {
    display: none;
}
.start-button-show {
    display: inline;
}
.start-time-hide {
    display: none;
}
.start-time-show {
    display: inline;
}
.flip-card-front-hide {
    display: none;
}
.flip-card-front-show {
    display: inline;
}
.flip-card-back-hide {
    display: none;
}
.flip-card-back-show {
    display: inline;    
}
body{
    background-color: lightgrey;
}

img {
    width: auto;
    height: auto;
}

aside {    
    display:flex;
    align-items: left;
    justify-content: left;
    float:left;
    min-width: 20%;
    max-width: 30%;
}

.interface {
    padding: 1em;
}

  
  